.slider-events {
  position: relative;
}

.slider-events-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-events-inner > .item-events {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.slider-events-inner > .item-events > img,
.slider-events-inner > .item-events > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .slider-events-inner > .item-events {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .slider-events-inner > .item-events.next,
  .slider-events-inner > .item-events.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }

  .slider-events-inner > .item-events.prev,
  .slider-events-inner > .item-events.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }

  .slider-events-inner > .item-events.next.left,
  .slider-events-inner > .item-events.prev.right,
  .slider-events-inner > .item-events.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.slider-events-inner > .active,
.slider-events-inner > .next,
.slider-events-inner > .prev {
  display: block;
}

.slider-events-inner > .active {
  left: 0;
}

.slider-events-inner > .next,
.slider-events-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.slider-events-inner > .next {
  left: 100%;
}

.slider-events-inner > .prev {
  left: -100%;
}

.slider-events-inner > .next.left,
.slider-events-inner > .prev.right {
  left: 0;
}

.slider-events-inner > .active.left {
  left: -100%;
}

.slider-events-inner > .active.right {
  left: 100%;
}

.slider-events-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.slider-events-control.left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.slider-events-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.slider-events-control:hover,
.slider-events-control:focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.slider-events-control .icon-prev,
.slider-events-control .icon-next,
.slider-events-control .glyphicon-chevron-left,
.slider-events-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}

.slider-events-control .icon-prev,
.slider-events-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}

.slider-events-control .icon-next,
.slider-events-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}

.slider-events-control .icon-prev,
.slider-events-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}

.slider-events-control .icon-prev:before {
  content: '\2039';
}

.slider-events-control .icon-next:before {
  content: '\203A';
}

.slider-events-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.slider-events-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}

.slider-events-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.slider-events-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.slider-events-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .slider-events-control .glyphicon-chevron-left,
  .slider-events-control .glyphicon-chevron-right,
  .slider-events-control .icon-prev,
  .slider-events-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }

  .slider-events-control .glyphicon-chevron-left,
  .slider-events-control .icon-prev {
    margin-left: -10px;
  }

  .slider-events-control .glyphicon-chevron-right,
  .slider-events-control .icon-next {
    margin-right: -10px;
  }

  .slider-events-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  .slider-events-indicators {
    bottom: 20px;
  }
}